<header>
	<div id="logo">
		<img src="images/logo_small.png" alt="">
	</div>

	<div id="completed" hm-tap="$navigate.go('/completed')">
		<div class="notifications" ng-show="completed.length">{{ completed.length }}</div>
		<img ng-src="images/tasks{{ !completed && '_empty' || '' }}.png" alt="">
	</div>
</header>
<div id="{{ page.id }}" plus-template>

</div>
<footer>
	<nav id="nav">
		<ul>
			<li class="home" hm-tap="$navigate.go('/home', 'none')"><img src="images/home_ico.png" alt=""></li>
			<li class="add" hm-tap="$navigate.go('/add', 'none')"><img src="images/add_ico.png" alt=""></li>
			<li class="settings" hm-tap="$navigate.go('/settings', 'none')"><img src="images/settings_ico.png" alt=""></li>
		</ul>
	</nav>
</footer>