body{
	font-family: robotoThin;
}
/*
#scroll-area{
	overflow:visible!important;
	position: absolute;
	top:75px;

}
*/
#login-page{
	background: #a5cc39;
	background: -moz-linear-gradient(top, #a5cc39 0%, #77a741 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cc39), color-stop(100%,#77a741));
	background: -webkit-linear-gradient(top, #a5cc39 0%,#77a741 100%);
	background: -o-linear-gradient(top, #a5cc39 0%,#77a741 100%);
	background: -ms-linear-gradient(top, #a5cc39 0%,#77a741 100%);
	background: linear-gradient(to bottom, #a5cc39 0%,#77a741 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5cc39', endColorstr='#77a741',GradientType=0 );

	width: 100%;
	height: 100%;
	text-align: center;
}

	#login-page #logo{
		width: 150px;
		padding-top: 20%;
		margin: auto;
	}

	#login-page #login-button{
		position: absolute;
		bottom: 100px;
		text-align: center;
		width: 100%;
	}

		#login-page #login-button button{
			margin: auto;
			background-image: url('../../../../images/login.png');
			background-size: 100%;
			background-color: transparent;
			width: 240px;
			height: 65px;
			border: none;
			border-radius: 2px;
			border-bottom: 5px solid #6a923b;
			padding-bottom: 10px;
		}


header{
	height: 75px;
	background: #a1c83a;
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0;
}

	header #logo{
		float: left;
		margin-top: 22px;
		margin-left: 20px;
	}

		header #logo img{
			height: 30px;
		}

	header #completed{
		background-color: #83b03f;
		position: relative;
		height: 100%;
		width: 75px;
		float: right;
		text-align: center;
		line-height: 75px;
	}

		#completed img{
			width: 20px;
		}

		#completed .notifications{
			position: absolute;
			width: 40px;
			height:40px;
			border-radius: 20px;
			background-color: #612a7c;
			bottom: -20px;
			left: -20px;
			text-align: center;
			line-height: 40px;
			font-size: 12px;
			color: #fff;
		}

.content{
	position: absolute!important;
	top: 75px;
	bottom: 75px;
	left: 0;
	right: 0;
	padding: 50px 20px 0;
}

	.content .scroller{
		padding-bottom: 100px;
	}


footer{
	height: 75px;
	background-color: #a1c83a;
	position: fixed;
	width: 100%;
	bottom: 0;
}

	footer #nav{
		padding-left: 5%;
		padding-right: 5%;
	}

	#nav li{
		display: inline-block;
		width: 30%;
		text-align: center;
		line-height: 75px;
	}

	#nav li img{
		width: 20px;
		opacity: .4;
	}

	#home-page + footer nav .home, #add-page + footer nav .add, #settings-page + footer nav .settings{
		background: #8bb947;
	}

	#home-page + footer nav .home img, #add-page + footer nav .add img, #settings-page + footer nav .settings img{
		opacity: 1;
	}

#home-page #child-filter{
	width: 92%;
	padding: 20px 4%;
	border: 1px solid #c5c3c3;
	margin-left: -1px;
	font-size: 18px;
	font-family: robotoThin;
	background: url('../../../../images/search-icon.png') no-repeat 95% center; 
	background-size: 28px;
}

#home-page #search-box{
	margin-bottom: 30px;
}

#home-page #no-children{
	text-align: center;
	font-size: 18px;
}

#home-page #no-children button{
	margin-top: 15px;
	width: 100%;
	border: none;
	background: #8dc73f;
	padding: 15px 0;
	color: #fff;
	font-size: 13px;
	text-shadow: 0px 2px 1px #67923e;
	border-bottom: 6px solid #89a462;
	border-radius: 5px;
}

#home-page ul{
	padding: 0; margin: 0;
}

#home-page li{
	margin: 0;
	list-style-type: none;
	border-bottom: 1px solid  #c5c3c3;
	font-size: 20px;
	color: #87b23e;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
	#home-page li .child-name{
		padding: 20px;
	}

	#home-page li .action-icon{
		position: relative;
		right: 0;
		top: -42px;
	}

	#home-page li img{
		width: 25px;
		position: absolute;
		right: 20px;
	}

	#home-page li img.delete{
		display: none;
	}

	#home-page li img.delete.animated{
		display: block;
	}


#add-page #code, #add-page #name{
	width: 80%;
	margin:10px auto;
}

	#add-page #code input{
		width: 100%;
		font-family: robotoThin;
		padding: 15px 0;
		text-align: center;
		color: #87b23e;
		font-size: 32px;
		line-height: 32px;
		border: none;
		border-bottom: 1px solid #c5c3c3;
		border-radius: 0;
		box-shadow: none;
	}

	#add-page ::-webkit-input-placeholder {
	   color: #87b23e;
	}

	#add-page #name input{
		width: 92%;
		font-family: robotoThin;
		color: #87b23e;
		font-size: 22px;
		line-height: 22px;
		padding: 0 4%;
		box-shadow: none;
		border-radius: 0;
		border: none;
		background: url('../../../../images/user_ico.png') no-repeat 95% center;
		background-size: 15px;

	}

#add-page #add-child{
	width: 80%;
	position: absolute;
	bottom: 50px;
	left: 10%;
}

	#add-child button{
		width: 100%;
		border: none;
		background: #8dc73f;
		padding: 13px 0;
		color: #fff;
		font-size: 15px;
		text-shadow: 0px 2px 1px #67923e;
		border-bottom: 6px solid #89a462;
		border-radius: 5px;
	}

#settings-page p{
	font-size: 22px;
	text-align: center;
	margin-bottom: 15px;
}

#settings-page .btn-group{
	margin: 0 auto;
	display: block;
	width: 200px;
}

	#settings-page .btn-group .btn{
		width: 50%;
		border: none;
		background: #8dc73f;
		padding: 13px 0;
		color: #fff;
		font-size: 15px;
		text-shadow: 0px 2px 1px #67923e;
	}

	#settings-page .btn-group .true{
		background-color: #8bb947;
	}

	#settings-page .btn-group button:first-child{
		border-right: 2px solid hsla(84, 14%, 22%, .6);
	}
