
<style>
#info-scroller {
	position: absolute!important;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 20px;
	display: block;
	overflow:hidden;
}

.scroller {
	width:300%; /* (pages * scroller width) */
	height:100%;
	float:left;
	padding:0!important;
}

.scroller ul {
	list-style:none;
	display:block;
	margin:0;
	width:100%;
	height:auto;
}

.scroller li {

}

#info-scroller .scroller > ul > li{
	margin: 1.5%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display:block; float:left;
	width:30%; height:auto;
}

.scroller li:first-child{
	margin-left: 1%;
}

#nav-dots {
	width:100px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -19px;
}

#indicator, #indicator > li {
	display: inline-block;
	list-style:none;
	padding:0; margin:0;
}

#indicator > li {
	text-indent:-9999em;
	width:8px; height:8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:#ddd;
	overflow:hidden;
	margin-right:4px;
	display: inline-block;
}

#indicator > li.active {
	background:#888;
}

#indicator > li:last-child {
	margin:0;
}

</style>
<div class="content">
	<h1>{{ child.name }}</h1>
	<div id="info-scroller" scrollable parameters="{{ {snap: true, momentum: false, hScrollbar: false} }}" on-scroll-end="setNav()" curr-page-x="scrollable.currPageX">
		<ul>
			<li>
				<div>
					<h2>Stats</h2>
					<ul>
						<li><h3>Test scores over time</h3><img src="images/grid1.png" alt=""></li>
						<li ><h3>Keys hit in Typing class</h3><img src="images/chart2.png" alt=""></li>
						<li><h3>Time spent per activity</h3><img src="images/grid3.png" alt=""></li>

					</ul>
				</div>
			</li>
			<li>
				<div style="margin-left: 9px;">
					<h2>Current Tasks <span class="add-task" hm-tap="$navigate.go('/add-task/' + child.code, 'modal')"> + </span></h2>
					<ul id="tasks">
						<li ng-repeat="task in tasks | filter: { child_id : code }">
							<div class="task-title">{{ task.title }}</div>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div style="margin-left: 10px;">
					<h2>Settings</h2>
					<div id="photo" class="pull-left">
						<img ng-src="{{ child.photo || 'images/user_ico_large.png' }}" alt="">
					</div>
					<div id="photo-btn-container">
						<button hm-tap="capturePhoto()">Take a photo</button>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div id="nav-dots">
		<ul id="indicator">
			<li class="active">1</li>
			<li>2</li>
			<li>3</li>
		</ul>
	</div>
</div>