<div id="search-box">
	<input type="text" id="child-filter" ng-model="search.name" placeholder="{{ 'FILTER' | translate }}">
</div>
<ul>
	<li>Jimmy <span class="action-icon pull-right"><img src="images/arrow-right.png" class="arrow"> <img src="images/delete_ico.png" class="delete"></span></li>
	<li>Jimmy <span class="action-icon pull-right"><img src="images/arrow-right.png" class="arrow"> <img src="images/delete_ico.png" class="delete"></span></li>
	<li>Jimmy <span class="action-icon pull-right"><img src="images/arrow-right.png" class="arrow"> <img src="images/delete_ico.png" class="delete"></span></li>
	<li>Jimmy <span class="action-icon pull-right"><img src="images/arrow-right.png" class="arrow"> <img src="images/delete_ico.png" class="delete"></span></li>
	<li>Jimmy <span class="action-icon pull-right"><img src="images/arrow-right.png" class="arrow"> <img src="images/delete_ico.png" class="delete"></span></li>
</ul>